/* Remember that EXP player has a black background! */

body {
 font-family: 'Roboto', sans-serif;
 color: #7E57C2;
 background-color: #FFF
}
.ticker-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
#marquee {
  position: relative;
  height: 100%;
  overflow: hidden;
  font-size: 80vh;
}
#marquee > .item {
  position: absolute;
  top: 0;
  white-space: nowrap;
}
