[app][transition="poster"]{
    opacity: 1;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
}

[app][transition="poster"][slide-in]{
  -webkit-animation: poster-slide-in 1s;
          animation: poster-slide-in 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

[app][transition="poster"][slide-out]{
  -webkit-animation: poster-slide-out 1s;
          animation: poster-slide-out 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes poster-slide-in {
  from { -webkit-transform: translateY(100%); transform: translateY(100%); }
  to { -webkit-transform: translateY(0%); transform: translateY(0%); }
}

@keyframes poster-slide-in {
  from { -webkit-transform: translateY(100%); transform: translateY(100%); }
  to { -webkit-transform: translateY(0%); transform: translateY(0%); }
}

@-webkit-keyframes poster-slide-out {
  from { -webkit-transform: translateY(0%); transform: translateY(0%); }
  to { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}

@keyframes poster-slide-out {
  from { -webkit-transform: translateY(0%); transform: translateY(0%); }
  to { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}