[app][transition="slide"]{
  opacity: 1;
}

[app][transition="slide"]:not([first]){
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}

[app][transition="slide"][slide-in]{
  -webkit-animation: slide-in 1s;
          animation: slide-in 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

[app][transition="slide"][slide-out]{
  -webkit-animation: slide-out 1s;
          animation: slide-out 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes slide-in {
  from { -webkit-transform: translateX(100%); transform: translateX(100%); }
  to { -webkit-transform: translateX(0%); transform: translateX(0%); }
}

@keyframes slide-in {
  from { -webkit-transform: translateX(100%); transform: translateX(100%); }
  to { -webkit-transform: translateX(0%); transform: translateX(0%); }
}

@-webkit-keyframes slide-out {
  from { -webkit-transform: translateX(0%); transform: translateX(0%); }
  to { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@keyframes slide-out {
  from { -webkit-transform: translateX(0%); transform: translateX(0%); }
  to { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}