<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="vendor/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300">

    <script src="/babel-polyfill.min.js"></script>
    <script type="text/javascript" src="vendor/moment.min.js"></script>
    <script type="text/javascript" src="vendor/angular.min.js"></script>
    <script type="text/javascript" src="vendor/angular-material.min.js"></script>
    <script type="text/javascript" src="vendor/angular-aria.min.js"></script>
    <script type="text/javascript" src="vendor/angular-animate.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="app.js"></script>
</head>
<body ng-controller="mainController" layout-fill layout="row">
  <div flex="50" layout-fill layout="column" style="background: {{ config.secondaryColor }}; color: {{ config.primaryColor }};">
    <div layout="column" flex="50" layout-align="center center">
      <img id="logo" src="{{ logo }}">
      <div ng-if="config.roomName" id="title">{{ config.roomName }}</div>
      <div id="time">{{ moment(now).format('LTS') }}</div>
      <div id="date">{{ moment(now).format('ll') }}</div>
    </div>
    <div flex="50" layout="column" layout-align="center center" >
      <div id="in-progress" ng-if="current" layout-margin>Meeting in progress</div>
      <div id="current" style="background: {{ config.primaryColor }}; color: {{ config.secondaryColor }};">{{ current.text || "Room Available" }}</div>
    </div>
  </div>
  <div id="days" flex layout-fill layout="column" layout-margin style="background: {{ config.primaryColor }}; color: {{ config.secondaryColor }};">
    <div class="day" ng-repeat="day in days" layout-align="start center" layout-padding>
      <div class="name" layout-padding>{{ moment(day.date).calendar(null, targetFormat) }}</div>
      <div layout="row">
        <div flex="5"></div>
        <div class="seperator" flex style="background: {{ config.secondaryColor }};"></div>
        <div flex="5"></div>
      </div>
      <div class="events" >
        <div class="event" ng-class="{ current: event === current }" ng-repeat="event in day.events" layout="row" layout-padding layout-align="center center">
          <div flex class="text">{{ event.text }}</div>
          <div flex="5"></div>
          <div flex class="time">{{ moment(event.start).format('LT') }} - {{ moment(event.end).format('LT') }}</div>
        </div>
      </div>
    </div>

  </div>
</body>
</html>
