body
{
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

[app]
{
  transition: opacity 1s ease;
  opacity: 0;
}

[app][status="playing"], [app][status="finished"]
{
  opacity: 1;
}
