@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('Roboto-Light.ttf') format('truetype');
}

body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}


#identifier {
  z-index: 3;
  position: absolute;
  background: red;
  width: 100%;
  height: 200px;
  visibility: hidden;
  text-align: center;
}

#identifier-name {
  position: relative;
  color: white;
  font-size: 48px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
}
