body {
  background: #000;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

#viewport {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

#playlist {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

[app] { opacity: 0; }
